/* master styles*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* navigation bar styles*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left {
    display: flex;
}

.nav > .left > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}

.nav-link {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #707070;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}

/* About styles*/
.about-contents {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.profile-image {
    filter: grayscale(50%);
}

/* Workshop styles*/

.workshop-contents{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.workshop-content {
    position: relative;
}

.workshop-background {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.workshop-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.logo {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.workshop-text .abstract {
    transition: 0.75s;
    font-weight: 200px;
    color: transparent;
}

.workshop-text:hover .abstract {
    color: white;
    font-weight: 200px;
  }

.workshop-text .logo {
    transition: 0.75s;
    filter: opacity(0%);
}

.workshop-text:hover .logo {
    filter: opacity(100%);
  }

.workshop-text .workshop-link {
    transition: 0.75s;
    filter: opacity(0%);
    font-weight: 100px;
}

.workshop-text:hover .workshop-link {
    filter: opacity(100%);
    font-weight: 100px;
  }

.darkening {
    transition: 0.75s;
    /*filter: grayscale(100%);*/
    filter: brightness(40%);
}

.workshop-link {
    padding-bottom: 30px;
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.75s;
}

.workshop-link a {
    color: white;
    text-decoration: none;
    transition: color 0.75s;
}

.workshop-link:hover {
    border-bottom: 1px solid lightseagreen;
}

.workshop-link a:hover {
    color: lightseagreen;
}

/* Bamboo workshop styles*/

.bamboo-contents{
    margin: 10px;
    display: -moz-grid-group;
    grid-gap: 10px;
}
.bamboo-content {
    position: relative;
}

.bamboo-background {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bamboo-abstract {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

