/* master styles*/

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* navigation bar styles*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left {
    display: flex;
}

.nav > .left > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}

.nav-link {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #707070;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}
